@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.strike {
    position: relative;
    color: grey;
}

.strike::after {
    content: ' ';
    position: absolute;
    top: 58%;
    left: 0;
    height: 2px;
    background: grey;
    animation: strike 150ms linear 1 forwards;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}